::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {
  overflow-y: hidden;
  background-color: #ebe3d5;
  overflow-x: scroll;
}

.main-container {
  background-color: #ebe3d5;
  width: 200vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  overflow-y: hidden;
  height: 100vh;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #776b5d;
  margin: 1em 0;
  padding: 0;
}

.about-jamus {
  display: flex;
  height: 100vh;
  padding: 30px 0px 30px 30px;
  width: 110vw;
  padding-top: 60px;
  margin-left: 6rem;
}

.about-jamus .jamus-details {
  flex: 60%;
  display: flex;
  flex-direction: column;
}

.about-jamus .tittle {
  font-family: Playfair Display;
  flex: 45%;
  color: #776b5d;
  border-bottom: 1px solid black;
}

.about-jamus .tittle > h1 {
  margin: 0;
  padding: 0;
  font-size: 110px;
}

.scroll-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  gap: 30px;
}

.scroll-container .text {
  flex: 70%;
  display: flex;
  justify-content: flex-end;
}

.scroll-container > hr {
  flex: 30%;
}

.about-jamus .jamus-desc {
  flex: 55%;
  display: flex;
  align-items: end;
  opacity: 0;
  transform: translateY(300px);
}

.about-jamus .jamus-desc p {
  text-align: justify;
  max-width: 50%;
}

.about-jamus .jamus-img {
  flex: 40%;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
}

.about-jamus .jamus-img img {
  width: 100%;
  height: 85%;
  border-radius: 3%;
}

.manfaat-jamus {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 2rem;
}

.manfaat-jamus .jamus-details {
  padding-top: 70px;
  padding-left: 30px;
  flex: 40%;
  display: flex;
  flex-direction: column-reverse;
}

.manfaat-jamus .tittle {
  font-family: Playfair Display;
  flex: 45%;
  color: #776b5d;
  font-size: 54px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
}

.manfaat-jamus .tittle h1 {
  margin: 0;
  padding: 0;
}

.manfaat-jamus .jamus-desc {
  flex: 25%;
  display: flex;
  opacity: 0;
  transform: translateY(-100px);
}

.manfaat-jamus .jamus-desc p {
  text-align: justify;
}

.manfaat-jamus .jamus-img {
  flex: 60%;
  display: flex;
}

.img-jamus-1 {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  flex: 50%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(100px);
}

.img-jamus-2 {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  flex: 50%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-100px);
}

.img-jamus-1 img {
  width: 100%;
  height: 70%;
}
.img-jamus-2 img {
  width: 100%;
  height: 70%;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .main-container {
    width: auto;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
  }

  .about-jamus .jamus-img {
    width: 95%;
    height: 100%;
  }

  .about-jamus .jamus-img img {
    height: 100%;
  }

  .manfaat-jamus {
    flex-direction: column;
    padding: 12px;
  }
  .about-jamus {
    width: 100vw;
    height: max-content;
    flex-direction: column;
    padding: 10px;
    gap: 2rem;
    margin: 0;
    margin-top: 2rem;
  }

  .manfaat-jamus .tittle {
    font-size: 36px;
  }

  .manfaat-jamus .jamus-img {
    flex: 100%;
  }

  .img-jamus-1 {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    flex: 50%;
    margin: 0;
    padding: 0;
  }

  .img-jamus-2 {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    flex: 50%;
    margin: 0;
    padding: 0;
  }
  .about-jamus .jamus-desc p {
    text-align: justify;
    max-width: max-content;
    padding-right: 1rem;
  }

  .about-jamus .tittle > h1 {
    font-size: 80px;
  }

  .manfaat-jamus .jamus-details {
    padding: 0;
    flex-direction: column;
  }

  .manfaat-jamus .jamus-img {
    flex-direction: column;
    gap: 0;
  }

  .img-jamus-1,
  .img-jamus-2 {
    align-items: flex-start;
  }

  .img-jamus-1 img,
  .img-jamus-2 img {
    height: 100%;
  }
}
