::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

body{
    overflow-y: hidden;
    background-color: #ebe3d5;
    overflow-x: scroll;
}

.main_container {
    background-color: #ebe3d5;
    min-width: 100%;
    width: 150vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
    overflow-y: hidden;
    height: 100vh;

}

.types-title {
    display: flex;
    align-items: center;
}

.types-title h1 {
    margin: 0;
    writing-mode: vertical-rl !important;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding-right: 20px;
    padding-left: 20px;
}
