/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0;
}

body {
    overflow-y: hidden;
    overflow-x: scroll;
}

.container-types {
    min-width: 100%;
    width: 180vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
    overflow-y: hidden;
    height: 100vh;
}

.types-title {
    display: flex;
    align-items: center;
}

.types-title h1 {
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding-right: 20px;
    padding-left: 20px;
}

.jamu-types {
    max-width: 70vh;
}

.jamu-types:hover {
    cursor: url('../img/play-circle.svg'), auto;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    .container-types {
        overflow-y: auto;
        width:100%;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .types-title h1 {
        padding-top: 80px;
        margin: 0;
        writing-mode: horizontal-tb;
        transform: none;
        padding-right: 20px;
        padding-left: 20px;
    }

}

@media all and (min-width: 480px) and (max-width: 1024px) {
    .container-types {
        width: 450vw;
        scroll-behavior: smooth;
        overflow-x: hidden;
        display: flex;
        overflow-y: hidden;
        height: 100vh;
        min-width: 100%;
      }

}