::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

body{
    overflow-y: hidden;
    background-color: #ebe3d5;
    overflow-x: scroll;
}

.main-container {
    background-color: #ebe3d5;
    min-width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
    overflow-y: hidden;
    height: 100vh;
}


.ornament::after {
    content: "";
    display: inline-block;
    width: 180px;
    height: 2px;
    background-color: #fff;
    margin-left: 100px;
    margin-bottom: 5px;
  }
  
  