@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url("assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Neue Alte Grotesk';
  src: url("assets/fonts/NeueAlteGrotesk-light.otf") format('opentype');
  font-weight: light;
}

@font-face {
  font-family: 'Neue Alte Grotesk';
  src: url("assets/fonts/NeueAlteGrotesk-semibold.otf") format('opentype');
  font-weight: semibold;
}

@font-face {
  font-family: 'Neue Alte Grotesk';
  src: url("assets/fonts/NeueAlteGrotesk-bold.otf") format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Neue Alte Grotesk';
  src: url("assets/fonts/NeueAlteGrotesk-regular.otf") format('opentype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
